@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'aux_monoregular';
    src: url('../fonts/auxmono-regular-webfont.woff2') format('woff2'),
         url('../fonts/auxmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.aux-mono {
    font-family: 'aux_monoregular';
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fadeIn 0.5s ease-in-out;
}

svg {
  animation: fadeIn 0.5s ease-in-out;
}

